workflows/ai-video-generator-pro/workflow.json
{
  "name": "Trend Pulse - AI Video Generator Pro",
  "nodes": [
    {
      "parameters": {},
      "id": "manualTrigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        220,
        260
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "prompt",
              "value": "Create a 45 second product demo video script."
            },
            {
              "name": "format",
              "value": "vertical_9_16"
            },
            {
              "name": "platform",
              "value": "youtube_short"
            },
            {
              "name": "tier",
              "value": "premium"
            }
          ]
        }
      },
      "id": "intake",
      "name": "Intake - Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        460,
        260
      ]
    },
    {
      "parameters": {
        "operation": "chat",
        "model": "gpt-4.1-mini",
        "messages": {
          "messageValues": [
            {
              "message": "=Convert prompt into production package JSON: {storyboard_scenes[], narration, visuals, cta, hashtags[]}. Prompt: {{$json.prompt}}"
            }
          ]
        }
      },
      "id": "enrich",
      "name": "Enrichment - Storyboard Builder",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        700,
        260
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "openAiApi": {
          "id": "env-openai",
          "name": "OPENAI_API_KEY via {{$env.OPENAI_API_KEY}}"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.runwayml.com/v1/generate/video",
        "method": "POST",
        "jsonParameters": true,
        "bodyParametersJson": "={\"storyboard\":{{$json.storyboard_scenes || []}},\"format\":\"{{$json.format}}\",\"api_key\":\"{{$env.RUNWAY_API_KEY}}\"}"
      },
      "id": "generate",
      "name": "Content Generation - Video Render",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        940,
        260
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2500
    },
    {
      "parameters": {
        "operation": "chat",
        "model": "gpt-4.1-mini",
        "messages": {
          "messageValues": [
            {
              "message": "=Score this workflow output for SEO/AEO around keyword ai video generator. Return strict JSON {seo_score, aeo_score, growth_projection, improvements[]}. Payload: {$json}"
            }
          ]
        }
      },
      "id": "scoring",
      "name": "Scoring - SEO/AEO/Growth",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        1180,
        260
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "openAiApi": {
          "id": "env-openai",
          "name": "OPENAI_API_KEY via {{$env.OPENAI_API_KEY}}"
        }
      }
    },
    {
      "parameters": {
        "url": "={{$env.SLACK_WEBHOOK_URL}}",
        "method": "POST",
        "jsonParameters": true,
        "bodyParametersJson": "={\"text\":\"AI Video Generator Pro complete for {{$json.platform}}\"}"
      },
      "id": "publish",
      "name": "Publishing - Slack Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1420,
        260
      ]
    },
    {
      "parameters": {
        "mode": "jsonOutput",
        "jsonOutput": "={\"status\":\"ok\",\"workflow\":\"AI Video Generator Pro\",\"timestamp\":\"{$now}\",\"payload\":$json}"
      },
      "id": "logSuccess",
      "name": "Logging - Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1660,
        260
      ]
    },
    {
      "parameters": {
        "mode": "jsonOutput",
        "jsonOutput": "={\"status\":\"error\",\"workflow\":\"AI Video Generator Pro\",\"timestamp\":\"{$now}\",\"payload\":$json}"
      },
      "id": "logError",
      "name": "Logging - Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1180,
        420
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Intake - Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intake - Input": {
      "main": [
        [
          {
            "node": "Enrichment - Storyboard Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrichment - Storyboard Builder": {
      "main": [
        [
          {
            "node": "Content Generation - Video Render",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content Generation - Video Render": {
      "main": [
        [
          {
            "node": "Scoring - SEO/AEO/Growth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scoring - SEO/AEO/Growth": {
      "main": [
        [
          {
            "node": "Publishing - Slack Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publishing - Slack Notification": {
      "main": [
        [
          {
            "node": "Logging - Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "pinData": {},
  "meta": {
    "templateType": "premium",
    "keywordCoverage": [
      "ai video generator"
    ],
    "trendPulseStageOrder": [
      "intake",
      "enrichment",
      "scoring",
      "content_generation",
      "publishing",
      "logging"
    ],
    "envNotes": [
      "OPENAI_API_KEY",
      "RUNWAY_API_KEY",
      "SLACK_WEBHOOK_URL"
    ]
  }
}
