workflows/faceless-youtube-automation-pro/workflow.json
{
  "name": "Trend Pulse - Faceless YouTube Automation Pro",
  "nodes": [
    {
      "parameters": {},
      "id": "manualTrigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        220,
        260
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "topic",
              "value": "Top 5 local LLM workflows for creators"
            },
            {
              "name": "channel_niche",
              "value": "ai automation"
            },
            {
              "name": "upload_mode",
              "value": "draft"
            },
            {
              "name": "tier",
              "value": "premium"
            }
          ]
        }
      },
      "id": "intake",
      "name": "Intake - Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        460,
        260
      ]
    },
    {
      "parameters": {
        "operation": "chat",
        "model": "gpt-4.1-mini",
        "messages": {
          "messageValues": [
            {
              "message": "=Generate faceless YouTube package in strict JSON: {title, description, script, shotlist[], thumbnail_prompt, chapters[]}. Topic: {{$json.topic}}"
            }
          ]
        }
      },
      "id": "enrich",
      "name": "Enrichment - Episode Blueprint",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        700,
        260
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "openAiApi": {
          "id": "env-openai",
          "name": "OPENAI_API_KEY via {{$env.OPENAI_API_KEY}}"
        }
      }
    },
    {
      "parameters": {
        "mode": "jsonOutput",
        "jsonOutput": "={\"render_queue\":\"queued\",\"assets\":$json,\"targets\":[\"youtube\",\"shorts\"],\"schedule\":\"next_available\"}"
      },
      "id": "generate",
      "name": "Content Generation - Render Queue Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        940,
        260
      ]
    },
    {
      "parameters": {
        "operation": "chat",
        "model": "gpt-4.1-mini",
        "messages": {
          "messageValues": [
            {
              "message": "=Score this workflow output for SEO/AEO around keyword faceless youtube. Return strict JSON {seo_score, aeo_score, growth_projection, improvements[]}. Payload: {$json}"
            }
          ]
        }
      },
      "id": "scoring",
      "name": "Scoring - SEO/AEO/Growth",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        1180,
        260
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "openAiApi": {
          "id": "env-openai",
          "name": "OPENAI_API_KEY via {{$env.OPENAI_API_KEY}}"
        }
      }
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/videos?part=snippet,status",
        "method": "POST",
        "jsonParameters": true,
        "headerParametersJson": "={\"Authorization\":\"Bearer {{$env.YOUTUBE_API_TOKEN}}\"}",
        "bodyParametersJson": "={\"snippet\":{\"title\":\"{{$json.title || \"Faceless AI Episode\"}}\",\"description\":\"{{$json.description || \"\"}}\"},\"status\":{\"privacyStatus\":\"{{$json.upload_mode || \"private\"}}\"}}"
      },
      "id": "publish",
      "name": "Publishing - YouTube Draft Upload",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1420,
        260
      ]
    },
    {
      "parameters": {
        "mode": "jsonOutput",
        "jsonOutput": "={\"status\":\"ok\",\"workflow\":\"Faceless YouTube Automation Pro\",\"timestamp\":\"{$now}\",\"payload\":$json}"
      },
      "id": "logSuccess",
      "name": "Logging - Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1660,
        260
      ]
    },
    {
      "parameters": {
        "mode": "jsonOutput",
        "jsonOutput": "={\"status\":\"error\",\"workflow\":\"Faceless YouTube Automation Pro\",\"timestamp\":\"{$now}\",\"payload\":$json}"
      },
      "id": "logError",
      "name": "Logging - Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1180,
        420
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Intake - Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intake - Input": {
      "main": [
        [
          {
            "node": "Enrichment - Episode Blueprint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrichment - Episode Blueprint": {
      "main": [
        [
          {
            "node": "Content Generation - Render Queue Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content Generation - Render Queue Payload": {
      "main": [
        [
          {
            "node": "Scoring - SEO/AEO/Growth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scoring - SEO/AEO/Growth": {
      "main": [
        [
          {
            "node": "Publishing - YouTube Draft Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publishing - YouTube Draft Upload": {
      "main": [
        [
          {
            "node": "Logging - Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "pinData": {},
  "meta": {
    "templateType": "premium",
    "keywordCoverage": [
      "faceless youtube"
    ],
    "trendPulseStageOrder": [
      "intake",
      "enrichment",
      "scoring",
      "content_generation",
      "publishing",
      "logging"
    ],
    "envNotes": [
      "OPENAI_API_KEY",
      "YOUTUBE_API_TOKEN"
    ]
  }
}
