premium/04_ai_voice_generator_pro.json
{
  "name": "Trend Pulse - AI Voice Generator Pro",
  "nodes": [
    {
      "parameters": {},
      "id": "manualTrigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        220,
        260
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "script_text",
              "value": "Create a 30 second product teaser for an AI workflow tool."
            },
            {
              "name": "voice_style",
              "value": "confident, cinematic"
            },
            {
              "name": "target_platform",
              "value": "youtube_short"
            },
            {
              "name": "tier",
              "value": "premium"
            }
          ]
        }
      },
      "id": "intake",
      "name": "Intake - Voice Brief",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        460,
        260
      ]
    },
    {
      "parameters": {
        "operation": "chat",
        "model": "gpt-4.1-mini",
        "messages": {
          "messageValues": [
            {
              "message": "=Transform script into voiceover-ready SSML + pacing marks. Return strict JSON {ssml, variants[], hooks[], compliance_notes[]}. Input: {{$json.script_text}}"
            }
          ]
        }
      },
      "id": "enrichScript",
      "name": "Enrichment - Script to SSML",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        700,
        260
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "openAiApi": {
          "id": "env-openai",
          "name": "OPENAI_API_KEY via {{$env.OPENAI_API_KEY}}"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.elevenlabs.io/v1/text-to-speech/generate",
        "method": "POST",
        "jsonParameters": true,
        "bodyParametersJson": "={\"text\":\"{{$json.ssml || $json.script_text}}\",\"style\":\"{{$json.voice_style}}\",\"api_key\":\"{{$env.ELEVENLABS_API_KEY}}\"}"
      },
      "id": "voiceRender",
      "name": "Content Generation - Voice Render",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        940,
        260
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2500
    },
    {
      "parameters": {
        "operation": "chat",
        "model": "gpt-4.1-mini",
        "messages": {
          "messageValues": [
            {
              "message": "=Score this voice asset package for SEO and AEO discoverability as a voice generator workflow. Return strict JSON {seo_score, aeo_score, growth_projection, keyword_targets[]}. Payload: {{$json}}"
            }
          ]
        }
      },
      "id": "scoring",
      "name": "Scoring - SEO/AEO/Growth",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        1180,
        260
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "openAiApi": {
          "id": "env-openai",
          "name": "OPENAI_API_KEY via {{$env.OPENAI_API_KEY}}"
        }
      }
    },
    {
      "parameters": {
        "url": "={{$env.SLACK_WEBHOOK_URL}}",
        "method": "POST",
        "jsonParameters": true,
        "bodyParametersJson": "={\"text\":\"AI Voice Generator Pro complete for {{$json.target_platform}}\"}"
      },
      "id": "publish",
      "name": "Publishing - Slack Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1420,
        260
      ]
    },
    {
      "parameters": {
        "mode": "jsonOutput",
        "jsonOutput": "={\"status\":\"ok\",\"workflow\":\"AI Voice Generator Pro\",\"timestamp\":\"{{$now}}\",\"payload\":$json}"
      },
      "id": "logSuccess",
      "name": "Logging - Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1660,
        260
      ]
    },
    {
      "parameters": {
        "mode": "jsonOutput",
        "jsonOutput": "={\"status\":\"error\",\"workflow\":\"AI Voice Generator Pro\",\"timestamp\":\"{{$now}}\",\"payload\":$json}"
      },
      "id": "logError",
      "name": "Logging - Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1180,
        420
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Intake - Voice Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intake - Voice Brief": {
      "main": [
        [
          {
            "node": "Enrichment - Script to SSML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrichment - Script to SSML": {
      "main": [
        [
          {
            "node": "Content Generation - Voice Render",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content Generation - Voice Render": {
      "main": [
        [
          {
            "node": "Scoring - SEO/AEO/Growth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scoring - SEO/AEO/Growth": {
      "main": [
        [
          {
            "node": "Publishing - Slack Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publishing - Slack Notification": {
      "main": [
        [
          {
            "node": "Logging - Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "pinData": {},
  "meta": {
    "templateType": "premium",
    "keywordCoverage": [
      "ai voice generator"
    ],
    "trendPulseStageOrder": [
      "intake",
      "enrichment",
      "scoring",
      "content_generation",
      "publishing",
      "logging"
    ]
  }
}
