premium/06_private_gpt_rag_pro.json
{
  "name": "Trend Pulse - Private GPT RAG Pro",
  "nodes": [
    {
      "parameters": {},
      "id": "manualTrigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        220,
        260
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "question",
              "value": "What changed in our onboarding process this month?"
            },
            {
              "name": "knowledge_source",
              "value": "notion_docs"
            },
            {
              "name": "rag_scope",
              "value": "internal"
            },
            {
              "name": "tier",
              "value": "premium"
            }
          ]
        }
      },
      "id": "intake",
      "name": "Intake - RAG Query",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        460,
        260
      ]
    },
    {
      "parameters": {
        "url": "https://api.notion.com/v1/search",
        "method": "POST",
        "jsonParameters": true,
        "headerParametersJson": "={\"Authorization\":\"Bearer {{$env.NOTION_TOKEN}}\",\"Notion-Version\":\"2022-06-28\"}",
        "bodyParametersJson": "={\"query\":\"{{$json.question}}\"}"
      },
      "id": "retrieve",
      "name": "Enrichment - Notion Retrieval",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        700,
        260
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "operation": "chat",
        "model": "gpt-4.1-mini",
        "messages": {
          "messageValues": [
            {
              "message": "=Answer the query using retrieved private context only. Return strict JSON {answer, citations[], confidence}. Query: {{$json.question}} Context: {{$json.results || $json}}"
            }
          ]
        }
      },
      "id": "ragAnswer",
      "name": "Content Generation - Private Answer",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        940,
        260
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "openAiApi": {
          "id": "env-openai",
          "name": "OPENAI_API_KEY via {{$env.OPENAI_API_KEY}}"
        }
      }
    },
    {
      "parameters": {
        "operation": "chat",
        "model": "gpt-4.1-mini",
        "messages": {
          "messageValues": [
            {
              "message": "=Score this private GPT workflow output for SEO/AEO discoverability around keyword private gpt. Return strict JSON {seo_score, aeo_score, growth_projection, faq_pack[]}. Output: {{$json}}"
            }
          ]
        }
      },
      "id": "scoring",
      "name": "Scoring - SEO/AEO/Growth",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        1180,
        260
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "openAiApi": {
          "id": "env-openai",
          "name": "OPENAI_API_KEY via {{$env.OPENAI_API_KEY}}"
        }
      }
    },
    {
      "parameters": {
        "url": "={{$env.SLACK_WEBHOOK_URL}}",
        "method": "POST",
        "jsonParameters": true,
        "bodyParametersJson": "={\"text\":\"Private GPT RAG Pro completed. Scope: {{$json.rag_scope || \"internal\"}}\"}"
      },
      "id": "publish",
      "name": "Publishing - Slack Notify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1420,
        260
      ]
    },
    {
      "parameters": {
        "mode": "jsonOutput",
        "jsonOutput": "={\"status\":\"ok\",\"workflow\":\"Private GPT RAG Pro\",\"timestamp\":\"{{$now}}\",\"payload\":$json}"
      },
      "id": "logSuccess",
      "name": "Logging - Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1660,
        260
      ]
    },
    {
      "parameters": {
        "mode": "jsonOutput",
        "jsonOutput": "={\"status\":\"error\",\"workflow\":\"Private GPT RAG Pro\",\"timestamp\":\"{{$now}}\",\"payload\":$json}"
      },
      "id": "logError",
      "name": "Logging - Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1180,
        420
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Intake - RAG Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intake - RAG Query": {
      "main": [
        [
          {
            "node": "Enrichment - Notion Retrieval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrichment - Notion Retrieval": {
      "main": [
        [
          {
            "node": "Content Generation - Private Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content Generation - Private Answer": {
      "main": [
        [
          {
            "node": "Scoring - SEO/AEO/Growth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scoring - SEO/AEO/Growth": {
      "main": [
        [
          {
            "node": "Publishing - Slack Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publishing - Slack Notify": {
      "main": [
        [
          {
            "node": "Logging - Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "pinData": {},
  "meta": {
    "templateType": "premium",
    "keywordCoverage": [
      "private gpt"
    ],
    "trendPulseStageOrder": [
      "intake",
      "enrichment",
      "scoring",
      "content_generation",
      "publishing",
      "logging"
    ]
  }
}
