premium/10_aeo_optimizer_pro.json
{
  "name": "Trend Pulse - AEO Optimizer Pro",
  "nodes": [
    {
      "parameters": {},
      "id": "manualTrigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        220,
        260
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "url",
              "value": "https://example.com/article"
            },
            {
              "name": "target_keyword",
              "value": "answer engine optimization"
            },
            {
              "name": "schema_type",
              "value": "faqpage"
            },
            {
              "name": "tier",
              "value": "premium"
            }
          ]
        }
      },
      "id": "intake",
      "name": "Intake - Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        460,
        260
      ]
    },
    {
      "parameters": {
        "url": "={{$json.url}}",
        "method": "GET"
      },
      "id": "enrich",
      "name": "Enrichment - Fetch Source Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        700,
        260
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "operation": "chat",
        "model": "gpt-4.1-mini",
        "messages": {
          "messageValues": [
            {
              "message": "=Optimize fetched content for AEO in strict JSON: {answer_blocks[], faq[], schema_jsonld, snippet_candidates[], citations[]}. Keyword: {{$json.target_keyword}} Content: {{$json.body || $json}}"
            }
          ]
        }
      },
      "id": "generate",
      "name": "Content Generation - AEO Pack",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        940,
        260
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "openAiApi": {
          "id": "env-openai",
          "name": "OPENAI_API_KEY via {{$env.OPENAI_API_KEY}}"
        }
      }
    },
    {
      "parameters": {
        "operation": "chat",
        "model": "gpt-4.1-mini",
        "messages": {
          "messageValues": [
            {
              "message": "=Score this workflow output for SEO/AEO around keyword answer engine optimization. Return strict JSON {seo_score, aeo_score, growth_projection, improvements[]}. Payload: {$json}"
            }
          ]
        }
      },
      "id": "scoring",
      "name": "Scoring - SEO/AEO/Growth",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        1180,
        260
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "openAiApi": {
          "id": "env-openai",
          "name": "OPENAI_API_KEY via {{$env.OPENAI_API_KEY}}"
        }
      }
    },
    {
      "parameters": {
        "mode": "jsonOutput",
        "jsonOutput": "={\"channel\":\"seo_aeo\",\"output\":$json,\"exports\":[\"jsonld\",\"faq_markdown\",\"snippet_sheet\"]}"
      },
      "id": "publish",
      "name": "Publishing - Export Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1420,
        260
      ]
    },
    {
      "parameters": {
        "mode": "jsonOutput",
        "jsonOutput": "={\"status\":\"ok\",\"workflow\":\"AEO Optimizer Pro\",\"timestamp\":\"{$now}\",\"payload\":$json}"
      },
      "id": "logSuccess",
      "name": "Logging - Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1660,
        260
      ]
    },
    {
      "parameters": {
        "mode": "jsonOutput",
        "jsonOutput": "={\"status\":\"error\",\"workflow\":\"AEO Optimizer Pro\",\"timestamp\":\"{$now}\",\"payload\":$json}"
      },
      "id": "logError",
      "name": "Logging - Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1180,
        420
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Intake - Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intake - Input": {
      "main": [
        [
          {
            "node": "Enrichment - Fetch Source Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrichment - Fetch Source Content": {
      "main": [
        [
          {
            "node": "Content Generation - AEO Pack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content Generation - AEO Pack": {
      "main": [
        [
          {
            "node": "Scoring - SEO/AEO/Growth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scoring - SEO/AEO/Growth": {
      "main": [
        [
          {
            "node": "Publishing - Export Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publishing - Export Payload": {
      "main": [
        [
          {
            "node": "Logging - Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "pinData": {},
  "meta": {
    "templateType": "premium",
    "keywordCoverage": [
      "answer engine optimization"
    ],
    "trendPulseStageOrder": [
      "intake",
      "enrichment",
      "scoring",
      "content_generation",
      "publishing",
      "logging"
    ],
    "envNotes": [
      "OPENAI_API_KEY"
    ]
  }
}
