workflows/multimodal-pipeline-pro/workflow.json
{
  "name": "Trend Pulse - Multimodal Pipeline Pro",
  "nodes": [
    {
      "parameters": {},
      "id": "manualTrigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        220,
        260
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "theme",
              "value": "AI tools weekly recap"
            },
            {
              "name": "assets",
              "value": "text,audio,image"
            },
            {
              "name": "distribution",
              "value": "newsletter,shorts,social"
            },
            {
              "name": "tier",
              "value": "premium"
            }
          ]
        }
      },
      "id": "intake",
      "name": "Intake - Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        460,
        260
      ]
    },
    {
      "parameters": {
        "operation": "chat",
        "model": "gpt-4.1-mini",
        "messages": {
          "messageValues": [
            {
              "message": "=Create multimodal orchestration plan in strict JSON: {text_assets[], audio_assets[], visual_assets[], sync_timeline[], qa_checks[]}. Theme: {{$json.theme}}"
            }
          ]
        }
      },
      "id": "enrich",
      "name": "Enrichment - Multimodal Plan",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        700,
        260
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "openAiApi": {
          "id": "env-openai",
          "name": "OPENAI_API_KEY via {{$env.OPENAI_API_KEY}}"
        }
      }
    },
    {
      "parameters": {
        "mode": "jsonOutput",
        "jsonOutput": "={\"pipeline\":$json,\"delivery_targets\":[\"notion\",\"slack\",\"airtable\"],\"run_id\":\"{{$now}}\"}"
      },
      "id": "generate",
      "name": "Content Generation - Multimodal Bundle",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        940,
        260
      ]
    },
    {
      "parameters": {
        "operation": "chat",
        "model": "gpt-4.1-mini",
        "messages": {
          "messageValues": [
            {
              "message": "=Score this workflow output for SEO/AEO around keyword multimodal ai pipeline. Return strict JSON {seo_score, aeo_score, growth_projection, improvements[]}. Payload: {$json}"
            }
          ]
        }
      },
      "id": "scoring",
      "name": "Scoring - SEO/AEO/Growth",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        1180,
        260
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "openAiApi": {
          "id": "env-openai",
          "name": "OPENAI_API_KEY via {{$env.OPENAI_API_KEY}}"
        }
      }
    },
    {
      "parameters": {
        "mode": "jsonOutput",
        "jsonOutput": "={\"status\":\"published\",\"targets\":$json.distribution || \"multi-channel\",\"payload\":$json}"
      },
      "id": "publish",
      "name": "Publishing - Unified Export",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1420,
        260
      ]
    },
    {
      "parameters": {
        "mode": "jsonOutput",
        "jsonOutput": "={\"status\":\"ok\",\"workflow\":\"Multimodal Pipeline Pro\",\"timestamp\":\"{$now}\",\"payload\":$json}"
      },
      "id": "logSuccess",
      "name": "Logging - Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1660,
        260
      ]
    },
    {
      "parameters": {
        "mode": "jsonOutput",
        "jsonOutput": "={\"status\":\"error\",\"workflow\":\"Multimodal Pipeline Pro\",\"timestamp\":\"{$now}\",\"payload\":$json}"
      },
      "id": "logError",
      "name": "Logging - Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1180,
        420
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Intake - Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intake - Input": {
      "main": [
        [
          {
            "node": "Enrichment - Multimodal Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrichment - Multimodal Plan": {
      "main": [
        [
          {
            "node": "Content Generation - Multimodal Bundle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content Generation - Multimodal Bundle": {
      "main": [
        [
          {
            "node": "Scoring - SEO/AEO/Growth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scoring - SEO/AEO/Growth": {
      "main": [
        [
          {
            "node": "Publishing - Unified Export",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publishing - Unified Export": {
      "main": [
        [
          {
            "node": "Logging - Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "pinData": {},
  "meta": {
    "templateType": "premium",
    "keywordCoverage": [
      "multimodal ai pipeline"
    ],
    "trendPulseStageOrder": [
      "intake",
      "enrichment",
      "scoring",
      "content_generation",
      "publishing",
      "logging"
    ],
    "envNotes": [
      "OPENAI_API_KEY",
      "NOTION_TOKEN",
      "SLACK_WEBHOOK_URL"
    ]
  }
}
